In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
df = pd.read_csv('../input/titanic/test.csv')

In [16]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [17]:
df.count()

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [18]:
df.sum()

PassengerId                                               460009
Pclass                                                       947
Name           Kelly, Mr. JamesWilkes, Mrs. James (Ellen Need...
Sex            malefemalemalemalefemalemalefemalemalefemalema...
Age                                                   10050.5000
SibSp                                                        187
Parch                                                        164
Ticket         3309113632722402763151543101298753833097224873...
Fare                                                  14856.5376
Embarked       QSQSSSQSCSSSSSSCQCSCCSSCCSCCSCSSSSCCSSSSCSSSSS...
dtype: object

In [19]:
df[['Age']].sum()

Age    10050.5
dtype: float64

In [20]:
df.min()

PassengerId                              892
Pclass                                     1
Name           Abbott, Master. Eugene Joseph
Sex                                   female
Age                                     0.17
SibSp                                      0
Parch                                      0
Ticket                                110469
Fare                                    0.00
Embarked                                   C
dtype: object

In [21]:
df.max()

PassengerId                                 1309
Pclass                                         3
Name           van Billiard, Master. Walter John
Sex                                         male
Age                                      76.0000
SibSp                                          8
Parch                                          9
Ticket                               W.E.P. 5734
Fare                                    512.3292
Embarked                                       S
dtype: object

In [22]:
df[['Ticket']].max()

Ticket    W.E.P. 5734
dtype: object

In [23]:
df[['Age']].min()

Age    0.17
dtype: float64

In [24]:
df.mean()

PassengerId    1100.500000
Pclass            2.265550
Age              30.272590
SibSp             0.447368
Parch             0.392344
Fare             35.627188
dtype: float64

In [25]:
df.median()

PassengerId    1100.5000
Pclass            3.0000
Age              27.0000
SibSp             0.0000
Parch             0.0000
Fare             14.4542
dtype: float64

In [26]:
df[['Age']].mean()

Age    30.27259
dtype: float64

In [27]:
df[['Age']].median()

Age    27.0
dtype: float64

In [30]:
df.groupby('Sex').sum()

        PassengerId  Pclass      Age  SibSp  Parch       Fare
Sex
female       166712     326  3844.59     86     91  7561.6502
male         293297     621  6205.91    101     73  7294.8874

In [31]:
df.groupby('Sex').sum().Age

Sex
female    3844.59
male      6205.91
Name: Age, dtype: float64

In [40]:
df.groupby('Sex').Age.agg(['min','max'])

         min   max
Sex
female  0.17  76.0
male    0.33  67.0

In [41]:
df.groupby('Sex').Fare.agg(['min','max'])

         min       max
Sex
female  6.95  512.3292
male    0.00  262.3750

In [42]:
df.groupby('Sex').mean().Fare

Sex
female    49.747699
male      27.527877
Name: Fare, dtype: float64

In [43]:
df.groupby('Name').median().Fare

Name
Abbott, Master. Eugene Joseph                    20.2500
Abelseth, Miss. Karen Marie                       7.6500
Abelseth, Mr. Olaus Jorgensen                     7.6500
Abrahamsson, Mr. Abraham August Johannes          7.9250
Abrahim, Mrs. Joseph (Sophie Halaut Easu)         7.2292
                                                  ...
de Brito, Mr. Jose Joaquim                       13.0000
de Messemaeker, Mr. Guillaume Joseph             17.4000
del Carlo, Mrs. Sebastiano (Argenia Genovesi)    27.7208
van Billiard, Master. James William              14.5000
van Billiard, Master. Walter John                14.5000
Name: Fare, Length: 418, dtype: float64